@charset "utf-8";
/* mixin */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* fonts */
@font-face {
  font-family: ArialMT;
  src: url('../fonts/ArialMT/ArialMT.eot');
  src: url('../fonts/ArialMT/ArialMT.otf');
  src: url('../fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/ArialMT/ArialMT.woff') format('woff'), url('../fonts/ArialMT/ArialMT.ttf') format('truetype'), url('../fonts/ArialMT/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  src: url('../fonts/MyriadPro/MyriadPro.eot');
  src: url('../fonts/MyriadPro/MyriadPro.otf');
  src: url('../fonts/MyriadPro/MyriadPro.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro.svg#MyriadPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* resel */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 14px/18px ArialMT, sans-serif;
}
code,
kbd,
pre,
samp,
tt,
var {
  font: 14px/18px Consolas, "Courier New", monospace;
}
body,
optgroup {
  color: #000;
  background: #fff;
}
body,
code,
dl,
dd,
form,
pre {
  margin: 0;
}
a:link {
  color: #009;
}
a:link,
a:visited,
ins {
  text-decoration: none;
}
a:visited {
  color: #505;
}
a:hover {
  text-decoration: underline;
}
a:link img,
a:visited img,
object,
fieldset,
abbr,
acronym {
  border: none;
}
sub,
sup {
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
}
sub {
  top: 5px;
  vertical-align: middle;
}
sup {
  top: -2px;
  margin-top: -11px;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}
address,
cite,
dfn {
  font-style: normal;
}
code,
pre {
  white-space: pre-wrap;
}
img {
  vertical-align: bottom;
}
td,
th,
textarea {
  vertical-align: top;
}
input,
select,
button {
  overflow: visible;
  vertical-align: middle;
}
legend {
  color: #000;
  margin: 0 0 -2px;
  padding: 0;
}
li {
  display: block;
  list-style: none;
}
optgroup option {
  padding-left: 22px;
}
table {
  border-collapse: collapse;
}
caption,
th {
  text-align: left;
}
td,
th {
  padding: 0;
}
address,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
q {
  quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:after {
  content: "\00bb";
}
q:before {
  content: "\00ab";
}
q > q:after {
  content: "\201c";
}
q > q:before {
  content: "\201e";
}
/* general */
body {
  background-color: #f5f5f5;
  font-family: ArialMT;
  word-wrap: break-word;
}
h1 {
  font: normal 29px MyriadPro;
  line-height: 30px;
  margin: 12px 0px 4px ;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}
[type="text"],
[type="email"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  resize: none;
}
[type="text"],
[type="email"],
textarea {
  border: 1px solid #888;
  font-size: 12px;
  padding: 0px 5px;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
[type="text"]:hover,
[type="email"]:hover,
textarea:hover,
[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(102, 102, 102, 0.46);
  -moz-box-shadow: 1px 1px 1px 0px rgba(102, 102, 102, 0.46);
  box-shadow: 1px 1px 1px 0px rgba(102, 102, 102, 0.46);
}
[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  border-color: #2e3192;
}
/* layuot */
#header {
  border-bottom: 4px solid #2e3192;
  padding-bottom: 6px;
}
#header:before,
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header #logo,
#header #main_title {
  float: left;
}
#header #logo {
  width: 22%;
  padding-left: 2%;
}
#header #logo img {
  width: auto;
  height: 60px;
  margin: 3px 0px;
}
#header p {
  font: normal 11px MyriadPro;
  color: #2e3192;
}
#main_container:before,
#main_container:after {
  content: "";
  display: table;
  clear: both;
}
#sidebar,
#main_content {
  float: left;
  position: relative;
}
#sidebar {
  width: 18.6%;
  right: 81.4%;
  border-right: 1px solid #b9beea;
}
#sidebar > h2 {
  background: #2e3192;
  color: #FFF;
  font-size: 19px;
  padding: 0px 10px 5px;
  position: relative;
}
#sidebar > h2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #2e3192;
  border-top: 0px;
  border-bottom: 23px solid transparent;
}
#main_content {
  width: 81.4%;
  left: 18.6%;
}
#main_content > h3 {
  padding: 9px 12px 0px;
  font-size: 21.5px;
}
.feed_back_form {
  padding: 10px 0px 0px;
  border-bottom: 3px solid #2e3192;
  margin-bottom: 30px;
}
.feed_back_form:before,
.feed_back_form:after {
  content: "";
  display: table;
  clear: both;
}
.feed_back_form > *:not(.btn) {
  padding-left: 16px;
  padding-right: 16px;
}
.feed_back_form h3 {
  color: #2e3192;
  font-size: 15.5px;
  margin-bottom: 1px;
}
.feed_back_form .input_container {
  margin-bottom: 5px;
}
.feed_back_form .input_container:before,
.feed_back_form .input_container:after {
  content: "";
  display: table;
  clear: both;
}
.feed_back_form .input_container.input_text > input,
.feed_back_form .input_container.input_text > label {
  display: block;
  float: left;
}
.feed_back_form .input_container.input_text input {
  width: 70%;
}
.feed_back_form .input_container.input_text label {
  width: 30%;
  font-size: 12px;
  line-height: 16px;
}
.feed_back_form .client_message {
  width: 100%;
}
.feed_back_form .target_container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.feed_back_form .target_container:before,
.feed_back_form .target_container:after {
  content: "";
  display: table;
  clear: both;
}
.feed_back_form .target_container h4 {
  width: 30%;
  padding: 0px;
  line-height: 16px;
}
.feed_back_form .target_container h4 + div {
  width: 70%;
}
.feed_back_form .target_container > * {
  display: block;
  float: left;
}
.feed_back_form .target_container .input_container label {
  padding-left: 0px;
}
.feed_back_form .feed_back_btn {
  margin-top: 16px;
}
.products_list:before,
.products_list:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 984px) {
  #main_content {
    width: 78%;
    left: 22%;
  }
  #sidebar {
    width: 22%;
    right: 78%;
  }
}
@media (max-width: 880px) {
  #main_content {
    width: 71%;
    left: 29%;
  }
  #sidebar {
    width: 29%;
    right: 71%;
  }
}
@media (max-width: 768px) {
  #header {
    padding-bottom: 4px;
  }
  #header #logo {
    padding-left: 4%;
    width: 34.1%;
  }
  #header #logo img {
    margin: 11px 0px;
  }
  #header h1 {
    margin-top: 19px ;
  }
  #main_content {
    width: 72%;
    left: 28%;
  }
  #sidebar {
    width: 28%;
    right: 72%;
  }
}
@media (max-width: 684px) {
  #main_content {
    width: 66%;
    left: 34%;
  }
  #sidebar {
    width: 34%;
    right: 66%;
  }
}
@media (max-width: 576px) {
  #main_content {
    width: 64%;
    left: 36%;
  }
  #sidebar {
    width: 36%;
    right: 64%;
  }
}
@media (max-width: 544px) {
  #main_content {
    width: 100%;
    left: 0;
  }
  #sidebar {
    width: 100%;
    right: 0;
    border-right: none;
  }
  #sidebar > h2 {
    padding-top: 5px;
    text-align: center;
  }
  #sidebar > h2:after {
    display: none;
  }
  #sidebar,
  #main_content {
    float: none;
  }
  .feed_back_form > *:not(.btn) {
    padding-right: 33%;
  }
  #header {
    padding-bottom: 9px;
  }
  #header #logo {
    padding-left: 15%;
    width: 31.1%;
  }
  #header #logo img {
    margin: 0px;
  }
  #header h1 {
    margin-top: 8px;
  }
  #main_content h3 {
    text-align: center;
    padding: 13px 12px 17px;
  }
  .feed_back_form {
    border-bottom: none;
  }
  .feed_back_form > h3 {
    text-align: center;
  }
  .feed_back_form > *:not(.btn) {
    width: 66.66666667%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
  }
  .feed_back_form .feed_back_btn {
    margin-top: 20px;
  }
}
@media (max-width: 462px) {
  #header #logo {
    padding-left: 7%;
    width: 28.1%;
  }
}
@media (max-width: 352px) {
  #header #logo {
    padding-left: 0px;
    padding-top: 10px;
  }
  #header #logo,
  #header #main_title {
    float: none;
    width: 100%;
    text-align: center;
  }
}
/* _module */
.accordion-header {
  cursor: pointer;
  border: 1px solid #b9beea;
  padding: 0px 10px 0px;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}
.accordion-header a {
  display: block;
}
.accordion-header > h3 {
  font-size: 15px;
  line-height: 21.1px;
}
.accordion-header i {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  line-height: 20px;
}
@media (max-width: 1124px) {
  .accordion-header {
    padding-right: 10px;
  }
  .accordion-header i,
  .accordion-header.open > i.fa {
    display: none;
  }
}
@media (max-width: 544px) {
  .accordion-header > h3 {
    text-align: center;
  }
}
.accordion-content {
  border-bottom: 3px solid #2e3192;
}
.accordion-content:before,
.accordion-content:after {
  content: "";
  display: table;
  clear: both;
}
.accordion-content .chek-container > div:last-child {
  margin-bottom: 5px;
}
.accordion-content .show,
.feed_back_form .feed_back_btn {
  background-color: #2e3192;
  background: url(../image/block_2.png) top left no-repeat;
  background-size: cover;
  color: #FFF;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  padding: 3px 6px 3px 23px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  float: right;
}
.accordion-content .show:hover,
.feed_back_form .feed_back_btn:hover {
  color: #000;
  background-position-x: -12px;
  background-color: #2e3192;
}
@media (max-width: 544px) {
  .accordion-content .show,
  .feed_back_form .feed_back_btn {
    float: none;
    margin: 0px auto 15px;
    display: block;
    padding: 3px 6px;
    -webkit-box-shadow: 1px 1px 1px #000;
    -moz-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
  }
  .accordion-content .show:hover,
  .accordion-content .show,
  .feed_back_form .feed_back_btn:hover,
  .feed_back_form .feed_back_btn {
    background: #2e3192;
  }
}
@media (max-width: 544px) {
  .accordion-content {
    border-bottom: none;
  }
}
.chek-container {
  padding: 10px 20px;
}
.chek-container div {
  margin-bottom: 11.5px;
}
.chek-container div h4,
.price-container h4 {
  margin-bottom: 0px;
  font-size: 14px;
}
.chek-container div input {
  display: none;
}
.chek-container label {
  display: block;
  padding: 1.1px 12px 1px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.chek-container label i {
  padding-right: 2px;
  color: #2e3192;
  font-size: 8.5px;
}
.price-container {
  padding: 0px 20px;
}
.input-container {
  margin-bottom: 10px;
}
.input-container label {
  display: block;
  padding-bottom: 4px;
}
.product {
  float: left;
  width: 49.5%;
  padding: 7px 20px;
  margin-left: 0.5%;
  position: relative;
  overflow: hidden;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.product:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10%;
  top: 10%;
  width: 3px;
  height: 80%;
  background-color: #2e3192;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.product_text {
  font-size: 12px;
  width: 60%;
  padding-left: 3%;
}
.product_text h4 {
  font-size: 15.5px;
  font-weight: bold;
}
.product_name ~ * {
  line-height: 14px;
  font-size: 12px;
}
.product_view {
  width: 40%;
  margin-top: 12px;
}
.product_view img {
  width: 100%;
}
.product_view,
.product_text {
  float: left;
}
.product:hover {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(46, 49, 146, 0.18);
  -moz-box-shadow: 0px 0px 3px 0px rgba(46, 49, 146, 0.18);
  box-shadow: 0px 0px 3px 0px rgba(46, 49, 146, 0.18);
  background-color: rgba(46, 49, 146, 0.18);
}
.product:hover:after {
  bottom: 0%;
  top: 0%;
  height: 100%;
}
@media (max-width: 922px) {
  .product {
    float: none;
    width: 93.6%;
    margin-left: 1.7%;
    margin-right: 4.7%;
    margin-bottom: 18px;
    padding: 7px 26px;
  }
  .product:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 2.5%;
    top: 2.5%;
    width: 3px;
    height: 95%;
    background-color: #2e3192;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
  .product:after {
    bottom: 2.5%;
    top: 2.5%;
    height: 95%;
  }
  .product:hover:before {
    bottom: 0%;
    top: 0%;
    height: 100%;
  }
  .product_text {
    width: 63%;
    padding-left: 8%;
    margin-top: 9px;
  }
  .product_view {
    margin-top: 15px;
    width: 37%;
  }
}
@media (max-width: 544px) {
  .product {
    margin-bottom: 13px;
    padding: 7px 20px;
  }
  .product_text {
    margin-top: 7px;
  }
}
@media (max-width: 398px) {
  .product_text,
  .product_view {
    float: none;
    width: 100%;
  }
  .product_text {
    padding-left: 0px;
  }
}
/* state */
/* accordion */
.accordion-header:hover {
  background-color: #b9beea;
}
.accordion-header i {
  color: #2e3192;
}
.accordion-header .fa-minus-circle {
  display: none;
}
.accordion-header.open {
  color: #FFF;
  border-color: #2e3192;
}
.accordion-header.open i {
  color: #FFF;
}
.accordion-header.open .fa-minus-circle {
  display: inline-block;
}
.accordion-header.open .fa-plus-circle {
  display: none;
}
.accordion-header.open,
.accordion-header.open:hover {
  background: #2e3192;
}
.accordion-header.open + .accordion-content {
  display: block;
}
/* radiobuttons&chekboxes */
.chek-container input[type="checkbox"]:checked:disabled + label .fa,
.chek-container input[type="radio"]:checked:disabled + label .fa,
.chek-container input[type="checkbox"]:disabled + label .fa,
.chek-container input[type="radio"]:disabled + label .fa {
  background-color: #b9beea;
}
.chek-container input[type="checkbox"] + label .fa-check-square,
.chek-container input[type="checkbox"]:disabled + label .fa-check-square {
  display: none;
}
.chek-container input[type="checkbox"]:checked + label .fa-square-o,
.chek-container input[type="checkbox"]:checked:disabled + label .fa-square-o {
  display: none;
}
.chek-container input[type="checkbox"]:checked + label .fa-check-square,
.chek-container input[type="checkbox"]:checked:disabled + label .fa-check-square {
  display: inline-block;
}
.chek-container input[type="radio"] + label .fa-circle,
.chek-container input[type="radio"]:disabled + label .fa-circle {
  display: none;
}
.chek-container input[type="radio"]:checked + label .fa-circle-thin,
.chek-container input[type="radio"]:checked:disabled + label .fa-circle-thin {
  display: none;
}
.chek-container input[type="radio"]:checked + label .fa-circle,
.chek-container input[type="radio"]:checked:disabled + label .fa-circle {
  display: inline-block;
}
