@charset "utf-8";
/* mixin */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* resel */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 14px/18px Verdana, sans-serif;
}
code,
kbd,
pre,
samp,
tt,
var {
  font: 14px/18px Consolas, "Courier New", monospace;
}
body,
optgroup {
  color: #000;
  background: #fff;
}
body,
code,
dl,
dd,
form,
pre {
  margin: 0;
}
a:link {
  color: #009;
}
a:link,
a:visited,
ins {
  text-decoration: none;
}
a:visited {
  color: #505;
}
a:hover {
  text-decoration: underline;
}
a:link img,
a:visited img,
object,
fieldset,
abbr,
acronym {
  border: none;
}
sub,
sup {
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
}
sub {
  top: 5px;
  vertical-align: middle;
}
sup {
  top: -2px;
  margin-top: -11px;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}
address,
cite,
dfn {
  font-style: normal;
}
code,
pre {
  white-space: pre-wrap;
}
img {
  vertical-align: bottom;
}
td,
th,
textarea {
  vertical-align: top;
}
input,
select,
button {
  overflow: visible;
  vertical-align: middle;
}
legend {
  color: #000;
  margin: 0 0 -2px;
  padding: 0;
}
li {
  display: block;
  list-style: none;
}
optgroup option {
  padding-left: 22px;
}
table {
  border-collapse: collapse;
}
caption,
th {
  text-align: left;
}
td,
th {
  padding: 0;
}
address,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
q {
  quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:after {
  content: "\00bb";
}
q:before {
  content: "\00ab";
}
q > q:after {
  content: "\201c";
}
q > q:before {
  content: "\201e";
}
/* general */
body {
  background-color: #f5f5f5;
}
h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 19px 0px 7px ;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}
/* layuot */
#header {
  border-bottom: 4px solid #2e3192;
  padding-bottom: 6px;
}
#header:before,
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header #logo,
#header .main_title {
  float: left;
}
#header #logo {
  width: 22%;
  padding-left: 2%;
}
#header #logo img {
  width: auto;
  height: 75px;
  margin: 3px 0px;
}
#header p {
  font-size: 12px;
}
#main_contauner:before,
#main_contauner:after {
  content: "";
  display: table;
  clear: both;
}
#sidebar,
#main_content {
  float: left;
}
#sidebar {
  width: 20%;
}
#sidebar > h3 {
  background: #2e3192;
  color: #FFF;
  padding: 5px 10px 11px;
}
#main_content {
  width: 80%;
}
#main_content > h3 {
  padding: 12px;
}
#filters .accordion-header h3 {
  padding-top: 4px;
  padding-bottom: 7px;
  font-size: 18px;
}
/* _module */
.accordion-header {
  cursor: pointer;
  border: 1px solid #b9beea;
}
.accordion-content {
  border-bottom: 3px solid #2e3192;
}
.accordion-content:before,
.accordion-content:after {
  content: "";
  display: table;
  clear: both;
}
.accordion-content .price-container {
  display: none;
}
.accordion-content .chek-container > div:last-child {
  margin-bottom: 5px;
}
.accordion-content [type="submit"] {
  background-color: #2e3192;
  color: #FFF;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 14px;
  float: right;
}
.accordion-content [type="submit"]:hover {
  color: #000;
}
.chek-container {
  padding: 10px 20px;
}
.chek-container div {
  margin-bottom: 15px;
}
.chek-container div h4 {
  margin-bottom: 10px;
}
.chek-container div input {
  display: none;
}
.chek-container label {
  display: block;
  padding: 3px 12px;
  font-size: 12px;
  cursor: pointer;
}
.chek-container input[type="checkbox"] + label::before,
.chek-container input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 5px 0 0;
  background-color: green;
  vertical-align: baseline;
}
.chek-container input[type="checkbox"]:checked + label::before,
.chek-container input[type="radio"]:checked + label::before {
  background-color: red;
}
.chek-container input[type="checkbox"]:disabled + label::before,
.chek-container input[type="radio"]:disabled + label::before {
  background-color: gray;
}
.chek-container input[type="checkbox"]:checked:disabled + label::before,
.chek-container input[type="radio"]:checked:disabled + label::before {
  background-color: black;
}
/* state */
/* accordion */
.accordion-content {
  display: none;
}
.accordion-header.open h3 {
  background: #14ad40;
}
.accordion-header.open + .accordion-content {
  display: block;
}
