.accordion-header {
	cursor: pointer;
	border: 1px solid @accordion_bg_color;
	padding: 0px 10px 0px;
	.transition;
	padding-right: 20px;
    position: relative;
    overflow: hidden;

	a{
		display: block;
	}

	&>h3{
		font-size: 15px;
		line-height: 21.1px;
	}

	i{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    line-height: 20px;
	}

	.media_min(1124,{
	padding-right: 10px;

		i,
		&.open>i.fa{
		display: none;
		}

	});

	.media_min(544,{

		&>h3{
			text-align: center;
		}

	});

}

.accordion-content{
	.clearfix;
	border-bottom:  3px solid @theme_color;

	.chek-container>div:last-child{
		margin-bottom: 5px;
	}

	.show{
		.theme_button;
		float: right;
	}

	.media_min(544, {

		&{
			border-bottom: none;
		}

	});
}


.chek-container{
		padding: 10px 20px;

		div{
			    margin-bottom: 11.5px;
		}

		div h4{
			margin-bottom: 0px;
			font-size: 14px;
		}

		div input{
			display: none;
		}

		@custom_chek_w: 8px;

		label{
			display: block;
			padding: 1.1px 12px 1px;
			font-size: 12px;
			line-height: 12px;
			cursor: pointer;

			i{
				padding-right: 2px;
				color: @theme_color;
				font-size: 8.5px;
			}
		}
	}


	.price-container{
		padding: 0px 20px;

		h4{
			 &:extend(.chek-container div h4);
		}
	}

	.input-container {
	margin-bottom: 10px;

		label{
			display: block;
			padding-bottom: 4px;
		}
	}

	.product{
		@margin: 0.5%;
		float: left;
		width: (100% / 2) - @margin;
		padding: 7px 20px;
	    margin-left: @margin;
        // border-left: 3px solid @theme_color;
        position: relative;
        overflow: hidden;
        .transition;

        &:after {
        	@height: 80%;
        	@pos: (100% - @height) / 2;
        	content: '';
        	position: absolute;
        	left: 0;
        	bottom: @pos;
        	top: @pos;
        	width: 3px;
        	height: @height;
        	background-color: @theme_color;
        	.transition;
        }

        @img_w: 40%;
        @text_w: 100% - @img_w ;

		&_text{
			font-size: 12px;
			width: @text_w;
			padding-left: 3%;

			h4{
				font-size: 15.5px;
				font-weight: bold;
			}
		}

		&_name~*{
			    line-height: 14px;
			    font-size: 12px;
		}

		&_view{
			width: @img_w;
			margin-top: 12px;



			img{
				width: 100%;
			}
		}

		&_view,
		&_text{
			float: left;			
		}

		&:hover{
			.box-shadow(0px 0px 3px 0px fade(@theme_color, 18%));
			background-color:  fade(@theme_color, 18%);

			&:after {
			@height: 100%;
			@pos: (100% - @height) / 2;
			bottom: @pos;
			top: @pos;
			height: @height;
			}
		}

		.media_min(922, {

					&{
					@margin: 1.7%;
					@margin_right: 4.7%;
					float: none;
					width: 100%  - (@margin+@margin_right) ;
					margin-left: @margin;
					margin-right: @margin_right;
					margin-bottom: 18px;
					padding: 7px 26px;
					}

						@height: 95%;
						@pos: (100% - @height) / 2;

						&:before {
						content: '';
						position: absolute;
						right: 0;
						bottom: @pos;
						top: @pos;
						width: 3px;
						height: @height;
						background-color: @theme_color;
						.transition;
						}

						&:after {
						bottom: @pos;
						top: @pos;
						height: @height;
						}

						&:hover{

							&:before {
							@height: 100%;
							@pos: (100% - @height) / 2;
							bottom: @pos;
							top: @pos;
							height: @height;
							}

						}


						@img_w: 37%;
						@text_w: 100% - @img_w ;

						&_text{
						width: @text_w;
						padding-left: 8%;
						margin-top: 9px;
						}

						&_view{
						margin-top: 15px;
						width: @img_w;
						}
			});

			.media_min(544, {

				&{
				margin-bottom: 13px;
				padding: 7px 20px;
				}

				&_text{
					margin-top: 7px;
				}
			});

			.media_min(398, {

				&_text,
				&_view{
					float: none;
					width: 100%;
				}

				&_text{
					padding-left: 0px;
				}


			});
	}
