.accordion-header {
	cursor: pointer;
	border: 1px solid @accordion_bg_color;
	padding: 5px 10px 5px;
	.transition;
	padding-right: 20px;
    position: relative;
    overflow: hidden;

	a{
		display: block;
	}

	&>h3{
		font-size: 16px;
	}

	i{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    line-height: 34px;
	}
}

.accordion-content{
	.clearfix;
	border-bottom:  3px solid @theme_color;

	.chek-container>div:last-child{
		margin-bottom: 5px;
	}

	.show{
		.theme_button;
		float: right;
	}
}


.chek-container{
		padding: 10px 20px;

		div{
			    margin-bottom: 15px;
		}

		div h4{
			margin-bottom: 10px;
			font-size: 14px;
		}

		div input{
			display: none;
		}

		@custom_chek_w: 8px;

		label{
			display: block;
			padding: 3px 12px;
			font-size: 12px;
			cursor: pointer;

			i{
				padding-right: 5px;
				color: @theme_color;
			}
		}
	}


	.price-container{
		padding: 0px 20px;

		h4{
			 &:extend(.chek-container div h4);
		}
	}

	.input-container {
	margin-bottom: 10px;

		label{
			display: block;
			padding-bottom: 4px;
		}
	}

	.product{
		@margin: 0.5%;
		
		float: left;
		width: (100% / 2) - @margin;
		padding: 10px 20px;
	    margin: 10px 0px;
	    margin-left: @margin;
        border-left: 3px solid @theme_color;
        .transition;

        @img_w: 40%;
        @text_w: 100% - @img_w ;

		&_text{
			font-size: 12px;
			width: @text_w;
			padding-left: 5%;


			h4{
				font-size: 15.5px;
				font-weight: bold;
				margin-bottom: 3px;
			}
		}

		&_view{
			width: @img_w;

			img{
				width: 100%;
			}
		}

		&_view,
		&_text{
			float: left;			
		}

		&:hover{
			.box-shadow(0px 0px 3px 0px fade(@theme_color, 18%));
			background-color:  fade(@theme_color, 18%);
		}
	}
