#header{
	    border-bottom: 4px solid @theme_color;
	    .clearfix;
        padding-bottom: 6px;

		@logo_w: 22%;
		@header_text: 100% - @logo_w;

		#logo,
		.main_title{
			float: left;
		}

		#logo{
		width: @logo_w;
		padding-left: 2%;
		}

		#logo img{
			width: auto;
			height: 75px;
			margin: 3px 0px;
		}

		p{
			.font(normal; 11.5px; @header_font_fam);
			color: @theme_color;
		}
}

#main_contauner{
	.clearfix;
}

@sidebar_w: 20%;
@main_content_w: 100% - @sidebar_w;

#sidebar,
#main_content{
	float: left;
}

#sidebar{
	width: @sidebar_w;
	border-right: 1px solid @accordion_bg_color;

	&>h2{
	background: @theme_color;
    color: @color_white;
    font-size: 20px;
    padding: 5px 10px 11px;
    position: relative;

    &:after {
    	content: '';
    	position: absolute;
    	top: 0;
    	left:100%;
    	 display: block;
		  width: 0;
		  height: 0;
		  border-left: 10px solid @theme_color  ;
		  border-top:  0px;
		  border-bottom: (5 + 18 + 11)*1px solid  transparent ;
	    }
	}
}

#main_content{
	width: @main_content_w;

	&>h3{
	padding: 12px;
	}
}

.feed_back_form{
	    padding: 16px 0px 0px;
		border-bottom:  3px solid @theme_color;
		margin-bottom: 30px;
		.clearfix;

		&>*:not(.btn){
			padding-left: 16px;
			padding-right: 16px;
		}

	    h3{
	    	color: @theme_color;
	    	font-size: 16px;
	    	margin-bottom: 10px;
	    }

	    @label_w: 30%;
	    @input_w: 100% - @label_w;

	    .input_container{
	    	.clearfix;
	    	margin-bottom: 5px;

			&.input_text>input,
			&.input_text>label{
			display: block;
			float: left;
			}

			&.input_text input{
			width: @input_w;
			}

			&.input_text label{
			width:  @label_w;
			font-size: 12px;
			}
	    }

	    .client_message{
	    	width: 100%;
	    }

	    .target_container{
	    	.clearfix;
	    	padding-top: 0px;
	    	padding-bottom: 0px;

	    	h4{
			width:  @label_w;
			padding: 3px 0px;
			}

			h4+div{
			width: @input_w;
			}

			&>*{
				display: block;
				float: left;
			}

			.input_container label{
			padding-left: 0px;
			}

	    }

	    .feed_back_btn {
	    	
	    	&:extend(.accordion-content .show all);
	    	margin-top: 25px;

	    }
}

.products_list{
	.clearfix;
}

