body{
	background-color: @base_color;
	font-family: @default_font_fam;
}

h1{
	.font(normal;34px;@header_font_fam);
    line-height: 30px;
    margin: 19px 0px 7px ;
}

h3{
	font-size: 24px;
	line-height: 24px;
}


[type="text"],
[type="email"]{
	.borderRadius;
}

textarea{
	.borderRadius(5px);
	resize: none;
}

[type="text"],
[type="email"],
textarea{
	border: 1px solid @input_bd_color;
	font-size: 12px;
    padding: 2px 5px;
    .transition;

	&:hover,
	&:focus {
	.box-shadow(1px 1px 1px 0px fade( lighten(@color_black, 40%), 46%));
	}

	&:focus{
	border-color: @theme_color;
	}
}

